{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}درباره ما{% endblock %}

{% block nav %}{% endblock %}

{% block contents %}
    {% if about_desc %}
        <div class="aboutus-page">
            <h1 class="aboutus-header">{{ about_desc.title }}</h1>
            <p class="aboutus-text-page">{{ about_desc.description|safe }}</p>
        </div>
    {% endif %}

    {% if crews %}
        <div class="team">
            <h2 class="aboutus-title">تیم سینپه</h2>
            {% for member in crews %}
                <div id="team{{ forloop.counter }}" class="team-member"><img
                        src="{{ MEDIA_URL }}{{ member.profile_picture }}" alt=""
                        class="member-img">
                    <p class="team-name">{{ member.full_name }}<br>{{ member.skill }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}