{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}سینپه گروپ{% endblock %}

{% block nav2 %}{% endblock %}

{% block contents %}
    <div class="Navigation-part">

        <div class="black-side">
            <p class="black-text">SINPE</p>
        </div>
        <div class="white-side">
            <p class="white-text">سینپه </p>
        </div>
    </div>

    <!-- Services -->
    {% if services %}
        <div class="services">
            <div class="service-title">
                <span class="service-text">خدمات سینپه</span>
            </div>
            <div class="main-services">
                <div class="service-row-1">
                    <div class="service1">
                        <div class="service-name">{{ services.0.title }}</div>
                        <img src="{% static 'mainapp/img/digitalmarketing.JPG' %}" alt="" width="100%" height="528">
                        <div class="overlay1"></div>
                    </div>
                    <div class="service2">
                        <div class="service-name">{{ services.1.title }}</div>
                        <img src="{% static 'mainapp/img/digitalmarketing.JPG' %}" alt="" height="528" width="100%">
                        <div class="overlay2"></div>
                    </div>
                </div>
                <div class="service-row-2">
                    <div class="service4">
                        <div class="service-name">{{ services.2.title }}</div>
                        <img src="{% static 'mainapp/img/digitalmarketing.JPG' %}" alt="" width="100%" height="528">
                        <div class="overlay3"></div>
                    </div>
                    <div class="service5">
                        <div class="service-name">{{ services.3.title }}</div>
                        <img src="{% static 'mainapp/img/digitalmarketing.JPG' %}" alt="" height="528" width="100%">
                        <div class="overlay2"></div>
                    </div>
                    <div class="service3">
                        <div class="service-name">{{ services.4.title }}</div>
                        <img src="{% static 'mainapp/img/digitalmarketing.JPG' %}" alt="" height="528" width="100%">
                        <div class="overlay3"></div>
                    </div>
                </div>
                <div class="service-row-3">
                    <div class="service6">
                        <div class="service-name">{{ services.5.title }}</div>
                        <img src="{% static 'mainapp/img/digitalmarketing.JPG' %}" alt="" height="528" width="100%">
                        <div class="overlay4"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- End of service -->
    <!-- portfolio -->
    {% if portfolios %}
        <div class="portfolio">
            <div class="portfolio-title">
                <span class="portfolio-text">نمونه کار سینپه</span>
            </div>
            <div class="port1">
                <div class="port1-main">
                    <img src="{{ MEDIA_URL }}{{ portfolios.0.big_image_or_video }}" alt="" width="100%" height="500">
                    <div class="text-block">
                        <h4 class="port-name">{{ portfolios.0.title }}</h4>
                    </div>
                </div>
                <div class="port1-alt">
                    <img src="{{ MEDIA_URL }}{{ portfolios.0.image1 }}" width="250" height="250" alt="">
                    <img src="{{ MEDIA_URL }}{{ portfolios.0.image2 }}" width="250" height="250" alt="">
                    <img src="{{ MEDIA_URL }}{{ portfolios.0.image3 }}" width="250" height="250" alt="">
                    <img src="{{ MEDIA_URL }}{{ portfolios.0.image4 }}" width="250" height="250" alt="">
                    <img src="{{ MEDIA_URL }}{{ portfolios.0.image5 }}" width="250" height="250" alt="">
                    <img src="{{ MEDIA_URL }}{{ portfolios.0.image6 }}" width="250" height="250" alt="">
                </div>

            </div>
            <button class="more" type="button">بیشتر</button>
        </div>
        <!-- port2 -->
        <div class="port1">
            <div class="port1-main">
                <img src="{{ MEDIA_URL }}{{ portfolios.1.big_image_or_video }}" alt="" width="100%" height="500">
                <div class="text-block">
                    <h4 class="port-name">{{ portfolios.1.title }}</h4>
                </div>
            </div>
            <div class="port1-alt">
                <img src="{{ MEDIA_URL }}{{ portfolios.1.image1 }}" width="250" height="250" alt="">
                <img src="{{ MEDIA_URL }}{{ portfolios.1.image2 }}" width="250" height="250" alt="">
                <img src="{{ MEDIA_URL }}{{ portfolios.1.image3 }}" width="250" height="250" alt="">
                <img src="{{ MEDIA_URL }}{{ portfolios.1.image4 }}" width="250" height="250" alt="">
                <img src="{{ MEDIA_URL }}{{ portfolios.1.image5 }}" width="250" height="250" alt="">
                <img src="{{ MEDIA_URL }}{{ portfolios.1.image6 }}" width="250" height="250" alt="">
            </div>

        </div>
        <button class="more" type="button">بیشتر</button>
        </div>
        <!-- port3 -->
        <div class="port1">
            <div class="port1-main">
                <img src="{{ MEDIA_URL }}{{ portfolios.2.big_image_or_video }}" alt="" width="100%" height="500">
                <div class="text-block">
                    <h4 class="port-name">{{ portfolios.2.title }}</h4>
                </div>
            </div>
            <div class="port1-alt">
                <img src="{{ MEDIA_URL }}{{ portfolios.2.image1 }}" width="250" height="250" alt="">
                <img src="{{ MEDIA_URL }}{{ portfolios.2.image2 }}" width="250" height="250" alt="">
                <img src="{{ MEDIA_URL }}{{ portfolios.2.image3 }}" width="250" height="250" alt="">
                <img src="{{ MEDIA_URL }}{{ portfolios.2.image4 }}" width="250" height="250" alt="">
                <img src="{{ MEDIA_URL }}{{ portfolios.2.image5 }}" width="250" height="250" alt="">
                <img src="{{ MEDIA_URL }}{{ portfolios.2.image6 }}" width="250" height="250" alt="">
            </div>

        </div>
        <button class="more" type="button">بیشتر</button>
        </div>
    {% endif %}
    <!-- portfolio-->
    <!-- About us -->
    {% if land_desc %}
        <div class="about-us">
            <div class="about-title">
                <span class="about-text">درباره ی سینپه </span>
            </div>
            <div class="about-us-main">
                <div class="about-us-body">
                    <img class="about-us-img" src="{% static 'mainapp/img/931A3872.JPG' %}" width="250" height="300px"
                         alt="">
                </div>
                <div class="about-us-desc">
                    <h1 class="desc-title"> {{ land_desc.title }}</h1>
                    <p class="about-us-text">{{ land_desc.description|safe }}</p>
                </div>

            </div>
        </div>
    {% endif %}
    <!--About us -->
{% endblock %}

